* {
    font-family: sans-serif;
    color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #3bdc01;
}

body {
    scroll-behavior: smooth;
    background: #1f1e24;
}
main {
    display: flex;
}
nav {
    min-width: 250px;
}
article {
    margin: 2em 5em;
    padding: 2em;
    background: #333238;
}
.code {
    padding: 1em;
    background: black;

}
.code * {
    color: #3bdc01;
}